.ingresar {
    font-family: var(--fontPrincipal);
    color: var(--colorPrincipal);
    margin: 100px 400px 100px 400px;
    align-items: center;
}
 .btn-default{
    font-family: var(--fontPrincipal);
    color: var(--colorPrincipal);
    font-weight: 10px;
    border-radius: 2px;

}
